---
http_interactions:
- request:
    method: get
    uri: http://api.bank.exchange/banks/XXXXXXXX?date&fallback_days=18&iso_to=CHF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - x-api-token
      X-Client:
      - bank_exchange_ruby_api
      X-Client-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff927500284da59ca1de70b5c709bf05"
    body:
      encoding: UTF-8
      string: '{"params":{"swift":"XXXXXXXX","iso_to":["CHF"],"date":null,"fallback_days":18},"pagination":{"current_page":1,"last_page":true,"per_page":200,"next_page_url":null},"bank":{"swift":"XXXXXXXX","name":"Board
        of Governors of the Federal Reserve System","country":"US","currency":"USD","website":"http://www.federalreserve.gov"},"rates":[{"iso_from":"USD","iso_to":"CHF","swift":"XXXXXXXX","date":"2016-05-27","rate":0.9916,"inverse_rate":1.00847115772489}]}'
  recorded_at: Wed, 01 Jun 2016 17:37:15 GMT
recorded_with: VCR 3.0.1
