---
http_interactions:
- request:
    method: get
    uri: http://api.bank.exchange/banks/XXXXXXXX?currencies=EUR&date&fallback_days
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - c64aa982-3720-40de-ab25-51bbbb605dfb
      X-Client:
      - bank_exchange_ruby_api
      X-Client-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fdb1f6896ece9743d949eddf2c795e34"
    body:
      encoding: UTF-8
      string: '{"params":{"swift":"XXXXXXXX","currencies":["EUR"],"date":null,"fallback_days":4},"bank":{"swift":"XXXXXXXX","name":"Board
        of Governors of the Federal Reserve System","country":"US","currency":"USD","website":"http://www.federalreserve.gov"},"rates":[{"iso_from":"USD","iso_to":"EUR","rate":0.916086478563577,"inverse_rate":1.0916,"date":"2016-12-29"}]}'
  recorded_at: Wed, 23 Mar 2016 08:30:59 GMT
recorded_with: VCR 3.0.1
