---
http_interactions:
- request:
    method: get
    uri: http://api.bank.exchange/banks?countries=&currencies=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - x-api-token
      X-Client:
      - bank_exchange_ruby_api
      X-Client-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71adbfec2437d4ce68b9e2a8b69c3daa"
    body:
      encoding: UTF-8
      string: '{"params":{"countries":[],"currencies":["USD"]},"banks":[{"swift":"XXXXXXXX","name":"Board
        of Governors of the Federal Reserve System","country":"US","currency":"USD","website":"http://www.federalreserve.gov"}]}'
  recorded_at: Tue, 22 Mar 2016 13:17:06 GMT
recorded_with: VCR 3.0.1
