---
http_interactions:
- request:
    method: get
    uri: http://api.bank.exchange/rates?date=2016-01-01&fallback_days&iso_from=BYR&iso_to=USD&swift=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - x-api-token
      X-Client:
      - bank_exchange_ruby_api
      X-Client-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d391541aa2195aad2503219900139d92"
    body:
      encoding: UTF-8
      string: '{"params":{"date":"2016-01-01","swift":[],"iso_from":["BYR"],"iso_to":["USD"],"fallback_days":5},"rates":[{"iso_from":"BYR","iso_to":"USD","rate":5.38531961871937e-05,"inverse_rate":18569.0,"swift":"NBRBBY2X","date":"2016-01-01"}]}'
  recorded_at: Thu, 24 Mar 2016 20:12:37 GMT
recorded_with: VCR 3.0.1
