---
http_interactions:
- request:
    method: get
    uri: http://api.bank.exchange/rates/BYR?date=2016-01-01&fallback_days&iso_from=BYR&iso_to=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - x-api-token
      X-Client:
      - bank_exchange_ruby_api
      X-Client-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e46bc13897485efb8aa4231a13cef329"
    body:
      encoding: UTF-8
      string: '{"params":{"iso_code":"BYR","date":"2016-01-01","iso_from":["BYR"],"iso_to":["RUB"],"fallback_days":5},"rates":[{"iso_from":"BYR","iso_to":"RUB","rate":0.00391650021540751,"inverse_rate":255.33,"swift":"NBRBBY2X","date":"2016-01-01"}]}'
  recorded_at: Fri, 25 Mar 2016 15:18:40 GMT
recorded_with: VCR 3.0.1
